[Unit]
Description=my own rc.local's delay part
ConditionPathExists=/etc/my-rc.local
After=network.target
#After=graphical.target
#After=systemd-modules-load.service
#After=gdm.service
#After=systemd-logind
#After=display-manager.service

[Service]
Type=forking
ExecStart=/etc/my-rc.local delay
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
Alias=delay.service
WantedBy=multi-user.target
